<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>OCR Google</title>
    </head>
    <body>
        <form action="" id="form" enctype="multipart/form-data" method="post">
            <input type="file" name="file">
            <input type="submit" value="Upload File" name="submit">
        </form>
    </body>

</html>

